@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --color-primary: #257985;
  --color-primary-pale: #b2dbd5;
  --color-primary-shade: #0d4955;
  --color-danger: #ff4447;
  --color-dangerpale: "#dbb2b2";
  --color-default: #232a32;
}
